<nb-card size="medium">
  <nb-card-header>
    <div class="row">
      <div class="col-md-6">
        Movie List
      </div>
      <div class="col-md-6">
          <button class="btn btn-primary" (click)="addMovie()">
            Add Movies
          </button>
        </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div>
      <table class="table table-bordered table-responsive-md table-hover">
        <thead>
        <tr>
          <th>SN</th>
          <th>Movie Name</th>
          <th>Genre</th>
          <th>Released Date</th>
          <th>Total Tickets</th>
          <th>Available Tickets</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>1</td>
          <td>Hulchul</td>
          <td>Comedy</td>
          <td>2020-12-10</td>
          <td>100</td>
          <td>50</td>
          <td>100</td>
        </tr>
        </tbody>
      </table>
    </div>
  </nb-card-body>
</nb-card>
