<form [formGroup]="movieForm" class="row g-3">
  <div class="col mb-3">
    <label for="movieName" class="form-label">Movie Name:</label>
    <input type="text" class="form-control" formControlName="movieName">
    <div *ngIf="movieName && (movieName.dirty || movieName.touched)" id="movieName" class="alert-danger">
      <div *ngIf="movieName.errors?.required">
        Movie name is required.
      </div>
    </div>
  </div>
  <div class="col mb-3">
    <label class="form-label">Genre:</label>
    <input type="text" class="form-control" formControlName="genre">
    <div *ngIf="genre && (genre.dirty || genre.touched)" class="alert-danger">
      <div *ngIf="genre.errors?.required">
        Movie genre is required.
      </div>
    </div>
  </div>
  <div class="col mb-3">
    <label class="form-label">Release Date:</label>
    <input type="date" class="form-control" formControlName="releaseDate">
    <div *ngIf="releaseDate && (releaseDate.dirty || releaseDate.touched)" class="alert-danger">
      <div *ngIf="releaseDate.errors?.required">
        Release date is required.
      </div>
    </div>
  </div>
  <div class="col-12 d-flex justify-content-end">
    <button class="btn btn-primary pull-right" (click)="onSubmit()" [disabled]="!movieForm.valid">Submit
    </button>
  </div>
</form>
